body{
    margin:3%;
    
}

.envelope{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
}

.openenvelope
{
    position: relative;
    width:230px;
    top: 0;
    left: 0;
}

.openenvelope:hover{
    opacity: 0%;
    cursor: pointer;
}

.closeenvelope{
    position: absolute;
    width:230px;
    top: 0;
    left: 0;

}

h1{
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:20px;
}

.scroll-outer-container {
    overflow-x: scroll;

  }
  
.scroll-inner-container{
    display: flex;
    

}

.container{
    margin-right:20px;
}

.image{
    width: 230px;
}

.year{
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:16px;
    text-align: center;
}

::-webkit-scrollbar {
display:none;}